/** MARGIN **/


/** 0px **/

.no-marging {
    margin: 0;
}

.no-marging-left {
    margin-left: 0;
}

.no-marging-right {
    margin-right: 0;
}

.no-marging-top {
    margin-top: 0;
}

.no-marging-bottom {
    margin-bottom: 0;
}


/** 5px **/

.xx-small-marging {
    margin: 0.313em;
}

.xx-small-marging-left {
    margin-left: 0.313em;
}

.xx-small-marging-right {
    margin-right: 0.313em;
}

.xx-small-marging-top {
    margin-top: 0.313em;
}

.xx-small-marging-bottom {
    margin-bottom: 0.313em;
}


/** 10px **/

.x-small-marging {
    margin: 0.625em;
}

.x-small-marging-left {
    margin-left: 0.625em;
}

.x-small-marging-right {
    margin-right: 0.625em;
}

.x-small-marging-top {
    margin-top: 0.625em;
}

.x-small-marging-bottom {
    margin-bottom: 0.625em;
}


/** 20px **/

.small-marging {
    margin: 1.25em;
}

.small-marging-left {
    margin-left: 1.25em;
}

.small-marging-right {
    margin-right: 1.25em;
}

.small-marging-top {
    margin-top: 1.25em;
}

.small-marging-bottom {
    margin-bottom: 1.25em;
}


/** 30px **/

.medium-marging {
    margin: 1.875em;
}

.medium-marging-left {
    margin-left: 1.875em;
}

.medium-marging-right {
    margin-right: 1.875em;
}

.medium-marging-top {
    margin-top: 1.875em;
}

.medium-marging-bottom {
    margin-bottom: 1.875em;
}


/** 40px **/

.large-marging {
    margin: 2.5em;
}

.large-marging-left {
    margin-left: 2.5em;
}

.large-marging-right {
    margin-right: 2.5em;
}

.large-marging-top {
    margin-top: 2.5em;
}

.large-marging-bottom {
    margin-bottom: 2.5em;
}


/** 50px **/

.x-large-marging {
    margin: 3.125em;
}

.x-large-marging-left {
    margin-left: 3.125em;
}

.x-large-marging-right {
    margin-right: 3.125em;
}

.x-large-marging-top {
    margin-top: 3.125em;
}

.x-large-marging-bottom {
    margin-bottom: 3.125em;
}


/** 60px **/

.xx-large-marging {
    margin: 3.75em;
}

.xx-large-marging-left {
    margin-left: 3.75em;
}

.xx-large-marging-right {
    margin-right: 3.75em;
}

.xx-large-marging-top {
    margin-top: 3.75em;
}

.xx-large-marging-bottom {
    margin-bottom: 3.75em;
}


/** PADDING **/

/** 0px **/

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}


/** 5px **/

.xx-small-padding {
    padding: 0.313em;
}

.xx-small-padding-left {
    padding-left: 0.313em;
}

.xx-small-padding-right {
    padding-right: 0.313em;
}

.xx-small-padding-top {
    padding-top: 0.313em;
}

.xx-small-padding-bottom {
    padding-bottom: 0.313em;
}


/** 10px **/

.x-small-padding {
    padding: 0.625em;
}

.x-small-padding-left {
    padding-left: 0.625em;
}

.x-small-padding-right {
    padding-right: 0.625em;
}

.x-small-padding-top {
    padding-top: 0.625em;
}

.x-small-padding-bottom {
    padding-bottom: 0.625em;
}


/** 20px **/

.small-padding {
    padding: 1.25em;
}

.small-padding-left {
    padding-left: 1.25em;
}

.small-padding-right {
    padding-right: 1.25em;
}

.small-padding-top {
    padding-top: 1.25em;
}

.small-padding-bottom {
    padding-bottom: 1.25em;
}


/** 30px **/

.medium-padding {
    padding: 1.875em;
}

.medium-padding-left {
    padding-left: 1.875em;
}

.medium-padding-right {
    padding-right: 1.875em;
}

.medium-padding-top {
    padding-top: 1.875em;
}

.medium-padding-bottom {
    padding-bottom: 1.875em;
}


/** 40px **/

.large-padding {
    padding: 2.5em;
}

.large-padding-left {
    padding-left: 2.5em;
}

.large-padding-right {
    padding-right: 2.5em;
}

.large-padding-top {
    padding-top: 2.5em;
}

.large-padding-bottom {
    padding-bottom: 2.5em;
}


/** 50px **/

.x-large-padding {
    padding: 3.125em;
}

.x-large-padding-left {
    padding-left: 3.125em;
}

.x-large-padding-right {
    padding-right: 3.125em;
}

.x-large-padding-top {
    padding-top: 3.125em;
}

.x-large-padding-bottom {
    padding-bottom: 3.125em;
}


/** 60px **/

.xx-large-padding {
    padding: 3.75em;
}

.xx-large-padding-left {
    padding-left: 3.75em;
}

.xx-large-padding-right {
    padding-right: 3.75em;
}

.xx-large-padding-top {
    padding-top: 3.75em;
}

.xx-large-padding-bottom {
    padding-bottom: 3.75em;
}